.home-page {
    .ten-trung-tam {
        .img {
            max-height: 40px;
            max-width: 40px;
        }
        span {
            vertical-align: middle;
        }
    }
    table {
        td {
            vertical-align: middle !important;
        }
    }
}