<div class="modal-content" ng-init="vm.get()">
    <div class="ng-scope ng-isolate-scope">
        <form name="crudForm" role="form" class="application-dialog-form ng-pristine ng-invalid ng-invalid-required" ng-submit="vm.update(vm.lichLamViecHuanLuyenViens)">
            <div class="portlet box grey-steel">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.dismiss()"
                        style="margin-right:10px; margin-top:15px"></button>
                <div class="portlet-title">
                    <div class="caption  uppercase">
                        <i class="glyphicon glyphicon-equalizer"></i>Thông Tin Huấn Luyện Viên
                    </div>
                </div>
                <div class="portlet-body" style="height:70px">
                    <div class="row">
                        <!--id huấn luyện viên-->
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input">
                                <div class="input-icon">
                                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off"
                                           name="huanLuyenVienID" ng-model="vm.huanLuyenVienID"
                                           placeholder="xxxxx-xxx-xxx-xxx-xxx" readonly />
                                    <label class="font-dark"> ID Huấn Luyện Viên <span class="font-red">*</span></label>
                                    <i class="fa fa-key"></i>
                                </div>
                            </div>
                        </div>
                        <!--end id huấn luyện viên-->
                        <!--tên huấn luyện viên-->
                        <div class="col-md-6">
                            <div ng-class="vm.validation.validClassInput(crudForm.tenHuanLuyenVien)">
                                <select class="form-control"
                                        required="" name="tenHuanLuyenVien"
                                        ng-model="vm.huanLuyenVienID" ng-options="option.id as option.hoTen for option in vm.huanLuyenViens" style=""></select>
                                <label class="font-dark">Họ Tên <span class="font-red">*</span></label>
                            </div>
                        </div>
                        <!--end tên huấn luyện viên-->
                    </div>
                </div>
            </div>
            <div class="portlet box grey-steel">
                <div class="portlet-title">
                    <div class="caption uppercase">
                        <i class="fa fa-info"></i> Ca Làm Việc
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <table class="table table-border table-hover">
                            <thead>
                                <tr>
                                    <td>Ca Làm Việc</td>
                                    <td>Thứ 2</td>
                                    <td>Thứ 3</td>
                                    <td>Thứ 4</td>
                                    <td>Thứ 5</td>
                                    <td>Thứ 6</td>
                                    <td>Thứ 7</td>
                                    <td>Chủ nhật</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.lichLamViecHuanLuyenViens">
                                    <td ng-bind="item.caLamViec.tenCa"></td>
                                    <td>
                                        <div class="md-checkbox">
                                            <input ng-model="item.thuHai"
                                                   ng-checked="item.thuHai"
                                                   id="{{ item.caLamViecID + '_thuHai'  }}" type="checkbox" class="md-check">
                                            <label for="{{ item.caLamViecID + '_thuHai'  }}">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="md-checkbox">
                                            <input ng-model="item.thuBa"
                                                   ng-checked="item.thuBa"
                                                   id="{{ item.caLamViecID + '_thuBa'  }}" type="checkbox" class="md-check">
                                            <label for="{{ item.caLamViecID + '_thuBa'  }}">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="md-checkbox">
                                            <input ng-model="item.thuTu"
                                                   ng-checked="item.thuTu"
                                                   id="{{ item.caLamViecID + '_thuTu'  }}" type="checkbox" class="md-check">
                                            <label for="{{ item.caLamViecID + '_thuTu'  }}">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="md-checkbox">
                                            <input ng-model="item.thuNam"
                                                   ng-checked="item.thuNam"
                                                   id="{{ item.caLamViecID + '_thuNam'  }}" type="checkbox" class="md-check">
                                            <label for="{{ item.caLamViecID + '_thuNam'  }}">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="md-checkbox">
                                            <input ng-model="item.thuSau"
                                                   ng-checked="item.thuSau"
                                                   id="{{ item.caLamViecID + '_thuSau'  }}" type="checkbox" class="md-check">
                                            <label for="{{ item.caLamViecID + '_thuSau'  }}">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="md-checkbox">
                                            <input ng-model="item.thuBay"
                                                   ng-checked="item.thuBay"
                                                   id="{{ item.caLamViecID + '_thuBay'  }}" type="checkbox" class="md-check">
                                            <label for="{{ item.caLamViecID + '_thuBay'  }}">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="md-checkbox">
                                            <input ng-model="item.chuNhat"
                                                   ng-checked="item.chuNhat"
                                                   id="{{ item.caLamViecID + '_chuNhat'  }}" type="checkbox" class="md-check">
                                            <label for="{{ item.caLamViecID + '_chuNhat'  }}">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-actions">
                    <div class="btn-set pull-left" ng-show="!vm.isConfirm">
                        <button ng-disabled="!crudForm.$valid"
                                autofocus="" type="submit" class="btn green left ng-scope ladda-button" ladda="vm.saving" data-style="expand-left">
                            <span class="ladda-label">
                                Lưu thông tin <i class="fa fa-save"></i>
                            </span><span class="ladda-spinner"></span>
                        </button>

                        <button type="button" autofocus=""
                                ng-show="vm.showButtonDelete()"
                                ng-click="vm.isDelete()"
                                class="btn red left ng-scope ladda-button"
                                ladda="vm.saving" data-style="expand-left">
                            <span class="ladda-label">
                                Xóa <i class="fa fa-recycle"></i>
                            </span><span class="ladda-spinner"></span>
                        </button>
                    </div>
                    <!--confirm-->
                    <div class="btn-set pull-left" ng-show="vm.isConfirm">
                        <button autofocus=""
                                type="button"
                                class="btn red left ng-scope ladda-button"
                                ladda="vm.saving"
                                data-style="expand-left"
                                ng-click="vm.confirmDelete(vm.lichLamViecHuanLuyenViens)">
                            <span class="ladda-label">
                                Chắc chắn xóa <i class="fa fa-recycle"></i>
                            </span><span class="ladda-spinner"></span>
                        </button>
                        <button ng-click="vm.isDelete()"
                                autofocus=""
                                type="button"
                                class="btn info left ng-scope ladda-button"
                                ladda="vm.saving"
                                data-style="expand-left">
                            <span class="ladda-label">
                                Quay lại <i class="fa fa-reply"></i>
                            </span><span class="ladda-spinner"></span>
                        </button>
                    </div>
                    <!--end confirm-->
                    <div class="btn-set pull-right">
                        <button ng-click="vm.dismiss()" autofocus="" type="button" class="btn dark btn-outline left" data-dismiss="modal" aria-hidden="false">Đóng <i class="fa fa-close"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
