//##  Default Layout Settings
//
// Define layout element width and height.
$brand-main-color: $brand-success;
// Header
$header-height: 126px !default; // header height on table and desktop view. default: 42px
$header-height-xs: ($header-height * 2) !default; // header height on mobile view
$page-header-top-height: 75px;
$header-logo-height: 16px;
$header-logo-container-width: 255px;
$header-menu-toggler-width: 22px;
$header-menu-toggler-height: 14px;
$header-responsive-toggler-margin: ($header-height - $header-menu-toggler-height) / 2 6px 0 6px !default;
$header-logo-margin: ($page-header-top-height - $header-logo-height) / 2 0 0 0 !default;
$header-top-menu-general-item-padding: 17px 10px 8px 10px !default; // adjust top menu general elements padding. default: 15px 10px 7px 10px
$header-top-menu-general-item-padding-on-mobile: 17px 6px 8px 6px !default; // adjust top menu general elements padding mobile. default: 15px 10px 7px 10px
$header-top-menu-inbox-item-padding: 17px 0px 8px 8px !default; // adjust top menu general elements padding. default: 15px 10px 7px 10px
$header-top-menu-inbox-item-padding-on-mobile: 17px 0px 8px 2px !default; // adjust top menu general elements padding mobile. default: 15px 10px 7px 10px
$header-top-menu-user-item-padding: 12px 6px 7px 6px !default; // adjust top menu user bar element padding. default: 6px 0px 6px 6px
$header-top-menu-user-item-padding-on-mobile: 12px 0px 7px 4px !default; // adjust top menu user bar element padding on mobile. default: 6px 0px 6px 4px
$header-top-menu-language-item-padding: 16px 10px 9px 2px !default; // adjust top menu language bar element padding. default: 11px 1px 11px 5px
$header-top-menu-language-item-padding-on-mobile: 16px 6px 9px 2px !default; // adjust top menu language bar element padding. default: 11px 0px 11px 4px
$header-top-menu-general-item-badge-top: 9px !default; // adjust top menu general elements badge top position. default: 8px
$header-top-menu-icon-font-size: 19px !default;
$header-top-menu-user-font-size: 13px !default;
$header-top-menu-user-font-weight: 300 !default;
$header-top-menu-user-dropdown-link-font-size: 14px !default;
$header-top-menu-user-dropdown-link-font-weight: 300 !default;
$header-hor-menu-height: 51px;
$header-hor-menu-general-item-padding: 16px 18px 15px 18px !default; // adjust hor menu elements padding top. default: 11px 10px
$header-hor-menu-submenu-item-padding: 10px 12px !default; // adjust hor menu elements padding top. default: 7px 10px
$header-hor-menu-submenu-item-arrow-top: 9px; // adjust hor menu dropdown menu's arrow. default: 9px
$header-hor-menu-search-toggler-button-padding: 15px 22px 15px 22px !default; // adjust hor menu elements padding top. default: 13px 22px 11px 22px
$header-hor-menu-search-button-padding: 7px 20px !default; // adjust hor menu elements padding top. default: 5px 20px
$header-hor-menu-search-input-margin: 7px 0 0 0 !default; // adjust hor menu elements padding top. default: 5px 0 0 0
// Horizontal menu font
$header-hor-menu-default-link-font-size: 14px !default;
$header-hor-menu-default-link-font-weight: normal !default;
$header-hor-menu-dropdown-menu-link-font-size: 14px !default;
$header-hor-menu-dropdown-menu-link-font-weight: 300 !default;
$header-hor-menu-mega-menu-header-font-size: 15px !default;
$header-hor-menu-mega-menu-header-font-weight: normal !default;
// Page content
$page-content-bg-color: #eff3f8;
// Z-index master list
$zindex-header-fixed: 9995 !default;
$zindex-header-static: 9995 !default;
$zindex-quick-sidebar: 9999 !default;
$zindex-header-top-menu: 9996 !default;
$zindex-header-dropdown: 9997 !default;
$zindex-footer-fixed: 10000 !default;
$zindex-go-to-top: 10001 !default;
$zindex-sidebar-fixed: 10000 !default;
$zindex-sidebar-submenu: 2000 !default;
// Sidebar
$sidebar-width: 235px !default; // sidebar width. default:235px
$sidebar-collapsed-width: 54px !default; // minimized/collapsed sidebar width. default:35px
$sidebar-collapsed-submenu-width-on-hover: ($sidebar-width - 1) !default; // sub menu width displayed on hover in collapsed sidebar mode. default:210px
$sidebar-logo-container-width: ($sidebar-width + 30) !default; // logo container width. Normally same with sidebar-width.
$sidebar-logo-container-width-xs: 110px !default; // logo container width in mobile portrait view. default:110px.
$sidebar-logo-container-width-xxs: 100px !default; // logo container width in mobile landspace view. default:100px.
$sidebar-menu-link-font-size: 14px !default;
$sidebar-menu-link-font-weight: 400 !default;
$sidebar-menu-link-icon-font-size: 18px !default;
$sidebar-menu-link-arrow-font-size: 13px !default;
$sidebar-menu-sub-menu-link-icon-font-size: 16px !default;
// Sidebar menu
$sidebar-bg-color: #ffffff !default;
$sidebar-menu-heading-font-color: #5C9ACF !default;
$sidebar-menu-link-font-color: darken(#768da2, 5%) !default;
$sidebar-menu-link-font-color-on-hover: $brand-main-color !default;
$sidebar-menu-link-font-color-on-active: $brand-main-color !default;
$sidebar-menu-link-icon-font-color: darken(#b7c9d6, 5%) !default;
$sidebar-menu-link-icon-font-color-on-active: $brand-main-color !default;
$sidebar-menu-link-icon-font-color-on-hover: $brand-main-color !default;
$sidebar-menu-link-bg-color-on-hover: darken(#f9fbfc, 2%) !default;
$sidebar-menu-link-bg-color-on-active: darken(#f9fbfc, 2%) !default;
$sidebar-menu-arrow-color: lighten($sidebar-menu-link-icon-font-color, 3%) !default;
$sidebar-menu-arrow-color-on-active: lighten($sidebar-menu-link-icon-font-color-on-active, 3%) !default;
$sidebar-menu-arrow-color-on-hover: lighten($sidebar-menu-link-icon-font-color-on-hover, 3%) !default;
$sidebar-menu-sub-menu-link-font-color: $sidebar-menu-link-font-color !default;
$sidebar-menu-sub-menu-link-icon-font-color: $sidebar-menu-link-icon-font-color !default;
$sidebar-menu-sub-menu-link-bg-color-on-hover: $sidebar-menu-link-bg-color-on-hover !default;
$sidebar-menu-sub-menu-link-font-color-on-hover: $sidebar-menu-link-font-color-on-hover !default;
$sidebar-menu-sub-menu-link-icon-font-color-on-hover: $sidebar-menu-link-icon-font-color-on-hover !default;
$sidebar-menu-sub-menu-box-shadow-color: darken($sidebar-menu-link-bg-color-on-hover, 30%) !default;
$sidebar-menu-hover-sub-menu-bg-color: #FFFFFF !default;
//## Layout image  paths
$layout-img-path: 'themes/xyz/assets/img/' !default;
