.md-shadow-z-1, .alert, .badge, .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all), .btn-group > .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all), .btn.btn-link:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all):hover, .icon-btn, .label:not(.md-skip), .note, .panel, .social-icons li > a, .social-icons.social-icons-color > li > a, .well {
    box-shadow: none !important;
}

.md-shadow-z-2-hover, .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all):hover, .icon-btn:hover, .portlet.box.white > .portlet-title > .actions .btn-default:hover, .portlet.box.default > .portlet-title > .actions .btn-default:hover, .portlet.box.dark > .portlet-title > .actions .btn-default:hover, .portlet.box.blue > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-madison > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-chambray > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-ebonyclay > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-hoki > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-steel > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-dark > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-sharp > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-oleo > .portlet-title > .actions .btn-default:hover, .portlet.box.green > .portlet-title > .actions .btn-default:hover, .portlet.box.green-meadow > .portlet-title > .actions .btn-default:hover, .portlet.box.green-seagreen > .portlet-title > .actions .btn-default:hover, .portlet.box.green-turquoise > .portlet-title > .actions .btn-default:hover, .portlet.box.green-haze > .portlet-title > .actions .btn-default:hover, .portlet.box.green-jungle > .portlet-title > .actions .btn-default:hover, .portlet.box.green-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.green-dark > .portlet-title > .actions .btn-default:hover, .portlet.box.green-sharp > .portlet-title > .actions .btn-default:hover, .portlet.box.green-steel > .portlet-title > .actions .btn-default:hover, .portlet.box.grey > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-steel > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-cararra > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-gallery > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-cascade > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-silver > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-salsa > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-salt > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-mint > .portlet-title > .actions .btn-default:hover, .portlet.box.red > .portlet-title > .actions .btn-default:hover, .portlet.box.red-pink > .portlet-title > .actions .btn-default:hover, .portlet.box.red-sunglo > .portlet-title > .actions .btn-default:hover, .portlet.box.red-intense > .portlet-title > .actions .btn-default:hover, .portlet.box.red-thunderbird > .portlet-title > .actions .btn-default:hover, .portlet.box.red-flamingo > .portlet-title > .actions .btn-default:hover, .portlet.box.red-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.red-haze > .portlet-title > .actions .btn-default:hover, .portlet.box.red-mint > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-gold > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-casablanca > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-crusta > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-lemon > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-saffron > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-haze > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-mint > .portlet-title > .actions .btn-default:hover, .portlet.box.purple > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-plum > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-medium > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-studio > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-wisteria > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-seance > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-intense > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-sharp > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-soft > .portlet-title > .actions .btn-default:hover, .social-icons li:hover > a, .social-icons.social-icons-color > li > a:hover {
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.26);
}

.btn {
    border-radius: 0px !important;
}

input {
    border-radius: 0px !important;
}

.form-group {
    margin: 0 0 20px 0 !important;

    &.has-error {
        .form-control {
            border-color: #a94442 !important;
        }
    }

    &.has-success {
        .form-control {
            border-color: rgb(24, 102, 109) !important;
        }
    }

    .form-control {
        border-radius: 0px !important;
    }
}

tags-input {
    .host {
        margin: 0px;
        overflow-y: scroll;
        max-height: 65px;
        border: 1px solid #c2cad8;

        .tags {
            .tag-item {
                background: none;
            }

            box-shadow: none;
            border: none !important;

            li {
                font-style: italic;
                color: #ff6a00;
                border-radius: 0px !important;
                border: dotted 1px #c2cad8;
            }
        }
    }
}

body[ng-controller].modal-open {
    .modal-backdrop {
        z-index: 100 !important;
    }
}

.note-editor {
    .note-toolbar {
        .note-btn-group {
            button {
                padding: 6px 15px 5px 12px !important;
                height: 27px !important;
            }
        }
    }

    .checkbox > label {
        padding-left: 20px !important;
    }
}

::-webkit-scrollbar {
    //width: 8px;
}

// Nen thanh
::-webkit-scrollbar-thumb {
    //background-color: #bf8003;
}
// Thanh truot
::-webkit-scrollbar-track {
}

// Nut 2 dau
::-webkit-scrollbar-button {
    //width: 8px;
    //background-color: #bf8003;
}

@for $i from 0 through 200 {
    .padding-#{$i} {
        padding: $i !important;
    }

    .padding-l-#{$i} {
        padding-left: $i !important;
    }

    .padding-r-#{$i} {
        padding-right: $i !important;
    }

    .padding-t-#{$i} {
        padding-top: $i !important;
    }

    .padding-b-#{$i} {
        padding-bottom: $i !important;
    }

    .margin-#{$i} {
        margin: $i !important;
    }

    .margin-l-#{$i} {
        margin-left: $i !important;
    }

    .margin-r-#{$i} {
        margin-right: $i !important;
    }

    .margin-t-#{$i} {
        margin-top: $i !important;
    }

    .margin-b-#{$i} {
        margin-bottom: $i !important;
    }

    .font-size-#{$i} {
        font-size: $i !important;
    }
}

@media (max-width:$screen-md-min) {
    @for $i from 0 through 50 {
        .padding-m-#{$i} {
            padding: $i !important;
        }

        .padding-m-l-#{$i} {
            padding-left: $i !important;
        }

        .padding-m-r-#{$i} {
            padding-right: $i !important;
        }

        .padding-m-t-#{$i} {
            padding-top: $i !important;
        }

        .padding-m-b-#{$i} {
            padding-bottom: $i !important;
        }

        .margin-m-#{$i} {
            margin: $i !important;
        }

        .margin-m-l-#{$i} {
            margin-left: $i !important;
        }

        .margin-m-r-#{$i} {
            margin-right: $i !important;
        }

        .margin-m-t-#{$i} {
            margin-top: $i !important;
        }

        .margin-m-b-#{$i} {
            margin-bottom: $i !important;
        }
    }

    .border-m-n {
        border: none !important;
    }
}

@media (max-width:$screen-sm-min) {
    @for $i from 0 through 50 {
        .padding-s-#{$i} {
            padding: $i !important;
        }

        .padding-s-l-#{$i} {
            padding-left: $i !important;
        }

        .padding-s-r-#{$i} {
            padding-right: $i !important;
        }

        .padding-s-t-#{$i} {
            padding-top: $i !important;
        }

        .padding-s-b-#{$i} {
            padding-bottom: $i !important;
        }

        .margin-s-#{$i} {
            margin: $i !important;
        }

        .margin-s-l-#{$i} {
            margin-left: $i !important;
        }

        .margin-s-r-#{$i} {
            margin-right: $i !important;
        }

        .margin-s-t-#{$i} {
            margin-top: $i !important;
        }

        .margin-s-b-#{$i} {
            margin-bottom: $i !important;
        }
    }

    .border-s-n {
        border: none !important;
    }
}
