<form role="form" name="trungTamDialog" novalidate ng-submit="vm.saveObj(trungTamDialog)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.dismiss()"></button>
        <h3 class="modal-title font-dark">
            Đổi mã cơ sở giáo dục
        </h3>
    </div>
    <div class="modal-body row-space-1 pre-scrollable" perfect-scrollbar>
        <div class="form-body">
            <div class="form-group form-md-line-input">
                <input autofocus
                       required
                       type="text"
                       class="form-control"
                       ng-model="vm.tenancyName"
                       placeholder="Mã Cơ Sở Giáo Dục" />
                <label>Mã Cơ Sở Giáo Dục</label>
                <div class="help-block ">
                    <div ng-messages="required">Nhập Mã Cơ Sở Giáo Dục</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-actions">
            <div class="btn-set pull-right">
                <button autofocus
                        type="submit"
                        class="btn green left"
                        ladda="vm.saving"
                        data-style="expand-left"
                        ng-click="vm.kiemTraMaTrungTam()">
                    Kiểm Tra
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </div>
    </div>
</form>
