<form class="register-other text-center container margin-b-0" name="registerForm" novalidate ng-submit="vm.saveRegister(registerForm)">
    <div class="title text">
        <h1 class="caption-subject uppercase text-danger sbold">
            ĐĂNG KÝ KHÁC
        </h1>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-7 col-xs-12 bg-white text-left display-inline float-none padding-40">
        <!-- other user -->
        <div class="form-group form-md-line-input col-md-12 padding-l-0">
            <select ng-model="vm.register.typeUser" required name="tinh" class="form-control">
                <option ng-repeat="other in vm.listOtherUser"
                        value="{{other.value}}">
                    {{other.name}}
                </option>
            </select>
            <label class="font-dark">Tôi là: </label>
        </div>

        <!-- Họ User -->
        <div class="form-group form-md-line-input col-md-8 padding-l-0"
             ng-class="vm.requiredFactory.titleInput(registerForm.ho)">
            <input autofocus
                   required
                   type="text"
                   class="form-control"
                   name="ho"
                   ng-model="vm.register.hoTenDem"
                   placeholder="Họ" />
            <label class="font-dark">Họ</label>
            <div class="help-block "
                 ng-messages="registerForm.ho.$error"
                 ng-if="registerForm.ho.$dirty || registerForm.ho.$error.required || registerForm.ho.$touched"
                 role="alert">
                <div ng-messages="required">Nhập Họ</div>
            </div>
            <div ng-if="registerForm.ho.$touched && registerForm.ho.$error.required"
                 class="help-block help-block-error">
                Không Được Để Trống
            </div>
        </div>

        <!-- Tên user -->
        <div class="form-group form-md-line-input col-md-4 padding-l-0"
             ng-class="vm.requiredFactory.titleInput(registerForm.ten)">
            <input autofocus
                   required
                   type="text"
                   class="form-control"
                   name="ten"
                   ng-model="vm.register.ten"
                   placeholder="Tên" />
            <label class="font-dark">Tên</label>
            <div class="help-block "
                 ng-messages="registerForm.ten.$error"
                 ng-if="registerForm.ten.$dirty || registerForm.ten.$error.required || registerForm.ten.$touched"
                 role="alert">
                <div ng-messages="required">Nhập Tên</div>
            </div>
            <div ng-if="registerForm.ten.$touched && registerForm.ten.$error.required"
                 class="help-block help-block-error">
                Không Được Để Trống
            </div>
        </div>

        <!--Mail-->
        <div class="form-group form-md-line-input col-md-12 padding-l-0"
             ng-class="vm.requiredFactory.titleMail(registerForm.email)">
            <input autofocus
                   required
                   type="email"
                   name="email"
                   class="form-control"
                   ng-blur="vm.checkUserName(vm.register.email,$event)"
                   ng-model="vm.register.email"
                   placeholder="Email" />
            <label for="email" class="font-dark">Email</label>
            <div class="help-block "
                 ng-messages="registerForm.email.$error"
                 ng-if="registerForm.email.$dirty || registerForm.email.$error.required || registerForm.email.$touched"
                 role="alert">
                <div ng-messages="required">Email</div>
            </div>
            <div ng-if="registerForm.email.$touched && registerForm.email.$error.required"
                 class="help-block help-block-error">
                Không được để trống
            </div>
            <div ng-if="registerForm.email.$touched && registerForm.email.$error.email"
                 class="help-block help-block-error">
                Emai Chưa Chính Xác
            </div>
        </div>
        <!-- pass -->
        <div class="form-group form-md-line-input col-md-12  padding-l-0"
             ng-class="vm.requiredFactory.titlePassWord(registerForm.password)">
            <input required class="form-control placeholder-no-fix"
                   type="password"
                   autocomplete="off"
                   name="password"
                   ng-class="vm.touched"
                   ng-model="vm.register.password"
                   placeholder="Nhập Mật Khẩu" />
            <label class="font-dark"> Mật Khẩu</label>
            <div class="help-block "
                 ng-messages="registerForm.password.$error"
                 ng-if="registerForm.password.$dirty || registerForm.password.$error.required || registerForm.password.$touched"
                 role="alert">
                <div ng-messages="required">Nhập mật khẩu</div>
            </div>
            <div ng-if="registerForm.password.$touched && registerForm.password.$error.required"
                 class="help-block help-block-error">
                Không được để trống
            </div>

        </div>
        <div class="form-group form-md-line-input col-md-12  padding-l-0"
             ng-class="vm.requiredFactory.titleConfirmPassword(registerForm.passwordConfirm)">
            <input match="vm.register.password"
                   ng-class="vm.touched"
                   class="form-control placeholder-no-fix"
                   type="password"
                   autocomplete="off"
                   ng-model="vm.register.passwordConfirm"
                   name="passwordConfirm"
                   placeholder="Nhập Lại Mật Khẩu" />
            <label class="font-dark">Nhập Lại Mật Khẩu</label>
            <div class="help-block "
                 ng-messages="registerForm.passwordConfirm.$error"
                 ng-if="registerForm.passwordConfirm.$dirty || registerForm.passwordConfirm.$error.required || registerForm.passwordConfirm.$touched"
                 role="alert">
                <div ng-messages="required">Nhập lại mật khẩu</div>
            </div>
            <div ng-if="registerForm.passwordConfirm.$touched && registerForm.passwordConfirm.$error.required"
                 class="help-block help-block-error">
                Không được để trống
            </div>
            <div ng-if="registerForm.passwordConfirm.$touched && registerForm.passwordConfirm.$error.match"
                 class="help-block help-block-error">
                Mật Khẩu Không Khớp
            </div>
        </div>
        <!-- end pass -->
        
      
        <div class="col-md-12 no-padding">
            <label class="mt-checkbox mt-checkbox-outline">
                <input type="checkbox" required ng-model="vm.form.acceptTerm">
                Tôi Đồng Ý Với
                <a href="javascript:;">Điều Khoản Dịch Vụ </a> &
                <a href="javascript:;">Chính Sách Bảo Mật </a>
                <span></span>
            </label>
        </div>
        <div class="col-md-12 margin-top-10 padding-r-0">
            <button type="submit"
                    class="space btn blue pull-right"
                    ng-disabled="registerForm.$invalid"
                    ladda="vm.loading"
                    data-style="slide-right">
                Hoàn Thành
            </button>
        </div>
    </div>
    <!--  <block-ui loading="vm.loading"></block-ui> -->
</form>

