$screen-md-min: 992px;

.web-footer {
    .page-prefooter {
        background-color: #6b0909 !important;
    }

    .page-footer {
        background-color: #3c0608 !important;
    }

    @media(max-width:$screen-md-min) {
        .mobile-hide
        {
            display:none;
        }
    }
}
