<div class="page-wrapper-row web-footer">
    <div class="page-wrapper-bottom">
        <!-- BEGIN PRE-FOOTER -->
        <div class="page-prefooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 footer-block">
                        <p class="mobile-hide" translate="XYZ.ADDRESS"></p>
                        <p translate="XYZ.PHONE"></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 footer-block mobile-hide">
                        <p translate="XYZ.HOTLINE"></p>
                        <p translate="XYZ.NO"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PRE-FOOTER -->
        <!-- BEGIN POST-FOOTER -->
        <div class="page-footer">
            <div class="container text-center">
                <span translate="XYZ.COPYRIGHT">
                    © 20/04/2006 - 2015 Bản quyền thuộc edu.trenet.com.vn
                </span>
            </div>
        </div>
        <div class="scroll-to-top">
            <i class="fa fa-chevron-up"></i>
        </div>
        <!-- END POST-FOOTER -->
    </div>
</div>

