<table class="table table-striped table-bordered table-hover" id="menus">
    <thead>
        <tr>
            <th style="width: 200px" class="text-center">Tên Ca</th>
            <th style="width: 200px" class="text-center">Thứ 2</th>
            <th style="width: 200px" class="text-center">Thứ 3</th>
            <th style="width: 200px" class="text-center">Thứ 4</th>
            <th style="width: 200px" class="text-center">Thứ 5</th>
            <th style="width: 200px" class="text-center">Thứ 6</th>
            <th style="width: 200px" class="text-center">Thứ 7</th>
            <th style="width: 200px" class="text-center">Chủ Nhật</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="caLamViec in vm.caLamViecs | filter:vm.query">
            <td ng-bind="caLamViec.tenCa"></td>
            <td>
                <div class="inner-table" ng-repeat="lichLamViec in caLamViec.lichLamViecs" >
                    <i class="fa fa-user" ng-show="lichLamViec.thuHai && vm.compare(lichLamViec.huanLuyenVien.hoTen)"></i>
                    <a ng-bind="lichLamViec.thuHai == true && vm.compare(lichLamViec.huanLuyenVien.hoTen) ? lichLamViec.huanLuyenVien.hoTen : ''" ng-click="vm.showModal({id:lichLamViec.huanLuyenVien.id})"></a>
                </div>
            </td>
            <td>
                <div class="inner-table" ng-repeat="lichLamViec in caLamViec.lichLamViecs">
                    <i class="fa fa-user" ng-show="lichLamViec.thuBa && vm.compare(lichLamViec.huanLuyenVien.hoTen)"></i>
                    <a ng-bind="lichLamViec.thuBa == true && vm.compare(lichLamViec.huanLuyenVien.hoTen) ? lichLamViec.huanLuyenVien.hoTen : ''" ng-click="vm.showModal({id:lichLamViec.huanLuyenVien.id})"></a>
                </div>
            </td>
            <td>
                <div class="inner-table" ng-repeat="lichLamViec in caLamViec.lichLamViecs" >
                    <i class="fa fa-user" ng-show="lichLamViec.thuTu && vm.compare(lichLamViec.huanLuyenVien.hoTen)"></i>
                    <a ng-bind="lichLamViec.thuTu == true && vm.compare(lichLamViec.huanLuyenVien.hoTen) ? lichLamViec.huanLuyenVien.hoTen : ''" ng-click="vm.showModal({id:lichLamViec.huanLuyenVien.id})"></a>
                </div>
            </td>
            <td>
                <div class="inner-table" ng-repeat="lichLamViec in caLamViec.lichLamViecs" >
                    <i class="fa fa-user" ng-show="lichLamViec.thuNam && vm.compare(lichLamViec.huanLuyenVien.hoTen)"></i>
                    <a ng-bind="lichLamViec.thuNam == true && vm.compare(lichLamViec.huanLuyenVien.hoTen) ? lichLamViec.huanLuyenVien.hoTen : ''" ng-click="vm.showModal({id:lichLamViec.huanLuyenVien.id})"></a>
                </div>
            </td>
            <td>
                <div class="inner-table" ng-repeat="lichLamViec in caLamViec.lichLamViecs" >
                    <i class="fa fa-user" ng-show="lichLamViec.thuSau && vm.compare(lichLamViec.huanLuyenVien.hoTen)"></i>
                    <a ng-bind="lichLamViec.thuSau == true && vm.compare(lichLamViec.huanLuyenVien.hoTen) ? lichLamViec.huanLuyenVien.hoTen : ''" ng-click="vm.showModal({id:lichLamViec.huanLuyenVien.id})"></a>
                </div>
            </td>
            <td>
                <div class="inner-table" ng-repeat="lichLamViec in caLamViec.lichLamViecs" >
                    <i class="fa fa-user" ng-show="lichLamViec.thuBay && vm.compare(lichLamViec.huanLuyenVien.hoTen)"></i>
                    <a ng-bind="lichLamViec.thuBay == true && vm.compare(lichLamViec.huanLuyenVien.hoTen) ? lichLamViec.huanLuyenVien.hoTen : ''" ng-click="vm.showModal({id:lichLamViec.huanLuyenVien.id})"></a>
                </div>
            </td>
            <td>
                <div class="inner-table" ng-repeat="lichLamViec in caLamViec.lichLamViecs" >
                    <i class="fa fa-user" ng-show="lichLamViec.chuNhat && vm.compare(lichLamViec.huanLuyenVien.hoTen)"></i>
                    <a ng-bind="lichLamViec.chuNhat == true && vm.compare(lichLamViec.huanLuyenVien.hoTen) ? lichLamViec.huanLuyenVien.hoTen : ''" ng-click="vm.showModal({id:lichLamViec.huanLuyenVien.id})"></a>
                </div>
            </td>
        </tr>
        <tr ng-if="vm.caLamViecs.length == 0">
            <td colspan="10">
                <p style="text-align:center">Không tìm thấy bản ghi nào</p>
            </td>
        </tr>
    </tbody>
</table>
